<form action="/submit" method="POST">
  <h2>Add new post</h2>
  <input type="text" name="title" placeholder="Title" />
  <input type="text" name="descr" placeholder="Description" />
  <input type="submit" value="POST" />
</form>
