body {
  background: #222;
  color: hotpink;
}

main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 5rem;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  font-size: 0.9rem;
  background: #888;
  padding: 1rem;
  color: white;
  cursor: pointer;
}

form {
  display: flex;
  width: 30%;
  height: 35vh;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 10px black;
  & h2 {
    font-size: 4rem;
    margin: 0;
  }
}

.posts-container {
  width: 30%;
  margin-top: 50px;
}

.post {
  display: flex;
  width: 100%;
  height: 15vh;
  margin-top: 20px;
  border-radius: 20px;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  box-shadow: 0 0 10px black;
  box-sizing: border-box;
}

footer {
  position: absolute;
  bottom: 0;
}
